/* Load Urbanist and Comfortaa font */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Urbanist:wght@700&display=swap");

/**
 * These directives tell Tailwind to include the base styles for the project,
 * any components that are used, and any utilities that are used.
 * So don't remove them!
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
