/* @import "https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"; */

:root {
  --bg: transparent;
  --bg-light: #f5f5f5;
  --bg-code: #282c34;
  --bg-code-highlight: #30313e;
  --bg-code-highlight-2: #494c54;
  --fg: #333;
  --fg-code: #adbac7;
  --fg-light: #666;
  --fg-dark: #000;
  --fg-accent: #007bff;
  --border: #eee;
  --border-dark: #494c54;
  --table-border: #d1d5dc;

  /* Size */
  --container-2xs: 18rem;

  /* Font size */
  --text-3xl: 1.875rem; /* 28px */
  --text-2xl: 1.5rem; /* 24px */
  --text-xl: 1.25rem; /* 20px */
  --text-lg: 1.125rem; /* 18px */
  --text-md: 1rem; /* 16px */
  --text-sm: 0.875rem; /* 14px */

  /* Spacing */
  --ra-spacing: 0.25; /* 4px */

  /* Marging */
  --mb-3xl: calc(var(--text-3xl) * var(--ra-spacing));
  --mb-2xl: calc(var(--text-2xl) * var(--ra-spacing));
  --mb-xl: calc(var(--text-xl) * var(--ra-spacing));
  --mb-lg: calc(var(--text-lg) * var(--ra-spacing));
  --mb-md: calc(var(--text-md) * var(--ra-spacing));
  --mb-sm: calc(var(--text-sm) * var(--ra-spacing));
}

.dark {
  --bg: #212121;
  --bg-light: #30313e55;
  --bg-code: #282c34;
  --bg-code-highlight: #30313e;
  --fg: #eee;
  --fg-code: #abb2bf;
  --fg-light: #ccc;
  --fg-dark: #fff;
  --fg-accent: #007bff;
  --border: #2f2f2f;
  --border-dark: #494c54;
  --table-border: #4b5563;
}

.rasengan-wrapper,
.rasengan-wrapper-with-toc {
  position: relative;
}

.rasengan-wrapper-with-toc {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 100%;
  max-width: 42rem; /* 2xl */
  grid-template-columns: 1fr;
  gap: 2.5rem; /* 40px */
  padding-left: 2.5rem;
}

.rasengan-markdown-body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
  padding-left: 1rem; /* px-4 (16px) */
  padding-right: 1rem; /* px-4 (16px) */
  padding-top: 2.5rem; /* pt-10 (40px) */
  padding-bottom: 6rem; /* pb-24 (96px) */
}

/* TOC */

.rasengan-toc > .table-of-contents {
  position: sticky;
  top: 3.5rem; /* top-14 (56px) */
  max-height: calc(100svh - 3.5rem);
  /* max-h-[calc(100svh-3.5rem)] */
  overflow-x: hidden;
  padding-left: 1.5rem; /* px-6 (24px) */
  padding-right: 1.5rem; /* px-6 (24px) */
  padding-top: 2.5rem; /* pt-10 (40px) */
  padding-bottom: 6rem; /* pb-24 (96px) */
}

.rasengan-toc > .table-of-contents .title {
  font-size: 0.675rem;
  margin-bottom: 1rem;
  color: var(--fg-dark);
}

.rasengan-toc > .table-of-contents .items-container {
  display: flex;
  flex-direction: column;
}

.rasengan-toc > .table-of-contents .toc-item {
  cursor: pointer;
  padding-left: 0.5rem;
  border-left: 1px solid var(--border);
  transition: all 0.2s ease;
  color: var(--fg);
}

.rasengan-toc > .table-of-contents .toc-item:hover {
  border-left-color: var(--fg-accent);
  color: var(--fg-accent);
}

.rasengan-toc > .table-of-contents .toc-item.active {
  border-left-color: var(--fg-accent);
  color: var(--fg-accent);
}

.rasengan-toc > .table-of-contents .toc-item.active .toc-item--title {
  font-weight: bold;
}

.rasengan-toc > .table-of-contents .toc-item--title {
  font-size: 0.875rem;
  /* font-weight: 300; */
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.rasengan-toc > .table-of-contents .level2 {
  padding-left: 1rem;
}

.rasengan-toc > .table-of-contents .level3 {
  padding-left: 2rem;
}

/* Headings */

.rasengan-markdown-body .ra-heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
}

.rasengan-markdown-body .ra-heading-wrapper:has(h1) {
  margin-bottom: 1rem;
}

.rasengan-markdown-body .ra-heading-wrapper:has(h2) {
  border-bottom: 1px solid var(--border);
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.rasengan-markdown-body .ra-heading-wrapper:has(h3) {
  margin-bottom: var(--mb-xl);
  margin-top: 2rem;
}

.rasengan-markdown-body .ra-heading-wrapper:has(h4) {
  margin-bottom: var(--mb-lg);
  margin-top: 2rem;
}

.rasengan-markdown-body .ra-heading-wrapper:has(h5) {
  margin-bottom: var(--mb-md);
  margin-top: 2rem;
}

.rasengan-markdown-body .ra-heading-wrapper:has(h6) {
  margin-bottom: var(--mb-sm);
  margin-top: 2rem;
}

.rasengan-markdown-body .ra-heading-wrapper a {
  margin: 0.67em 0;
  margin-left: 0.5em;
  color: var(--border);
  opacity: 0;
  transition: all 0.3s;
}

.rasengan-markdown-body .ra-heading-wrapper a > svg {
  color: var(--fg);
}

.rasengan-markdown-body .ra-heading-wrapper a:hover > svg {
  color: var(--fg-accent);
}

.rasengan-markdown-body .ra-heading-wrapper:has(h2) a {
  font-size: 2em;
  text-decoration: none;
}

.rasengan-markdown-body .ra-heading-wrapper:has(h3) a {
  font-size: 1.5em;
  text-decoration: none;
}

.rasengan-markdown-body .ra-heading-wrapper:has(h4) a {
  font-size: 1em;
  text-decoration: none;
}

.rasengan-markdown-body .ra-heading-wrapper:hover a {
  opacity: 1;
  cursor: pointer;
}

.rasengan-markdown-body .ra-heading-wrapper:hover a:hover {
  transform: scale(1.1);
}

.rasengan-markdown-body h1 {
  font-size: var(--text-3xl);
  color: var(--fg);
  font-weight: 700;
  margin: 0;
}

.rasengan-markdown-body h2 {
  font-size: var(--text-2xl);
  color: var(--fg);
  font-weight: 700;
  margin-bottom: var(--mb-2xl);
}

.rasengan-markdown-body h3 {
  font-size: var(--text-xl);
  color: var(--fg);
  font-weight: 700;
  margin-bottom: var(--mb-xl);
}

.rasengan-markdown-body h4 {
  font-size: var(--text-lg);
  color: var(--fg);
  font-weight: 700;
  margin-bottom: var(--mb-lg);
}

.rasengan-markdown-body h5 {
  font-size: var(--text-md);
  color: var(--fg);
  font-weight: 700;
  margin-bottom: var(--mb-md);
}

.rasengan-markdown-body h6 {
  font-size: var(--text-sm);
  color: var(--fg);
  font-weight: 700;
  margin-bottom: var(--mb-sm);
}

.rasengan-markdown-body h2:hover::after,
.rasengan-markdown-body h3:hover::after,
.rasengan-markdown-body h4:hover::after {
  opacity: 1;
  cursor: pointer;
}

.rasengan-markdown-body p {
  font-size: var(--text-sm);
  color: var(--fg);
  margin: var(--mb-sm) 0;
  line-height: 2;
}

.rasengan-markdown-body a {
  color: var(--fg-accent);
  text-decoration: none;
}

.rasengan-markdown-body a:hover {
  text-decoration: underline;
}

/* Divider */

.rasengan-markdown-body hr {
  color: var(--border);
  margin: var(--mb-sm) 0;
}

/* Code blocks */

.rasengan-markdown-body code.simple-block {
  font-size: 0.8em;
  font-family: 'JetBrains Mono', monospace;
  border-radius: 5px;
  padding: 2px 3.6px;
  margin: auto 0;
  background-color: var(--bg-light);
  border: 1px solid var(--border);
}

.rasengan-markdown-body figure:has(pre[data-language]) {
  background-color: var(--bg-code);
  border-radius: 8px;
  margin: 10px 0;
  color: var(--fg-code);
  border: 1px solid var(--border);
  overflow: hidden;
}

.rasengan-markdown-body figure:has(pre[data-language]) figcaption {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--bg-code-highlight);
  border-bottom: 1px solid var(--border-dark);
}

.rasengan-markdown-body code[data-line-numbers] {
  counter-reset: line;
}
.rasengan-markdown-body pre[data-language] {
  position: relative;
  border-radius: 8px;
  border: none;
  margin: 0;
}

.rasengan-markdown-body pre[data-language] code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  overflow-x: auto;
}

.rasengan-markdown-body pre[data-language] > div code {
  display: grid;
  grid-template-columns: 1fr;
  line-height: 1.6;
  word-wrap: break-word;
  padding: 16px 0;
}

.rasengan-markdown-body pre[data-language] code > span {
  padding: 0 16px;
  border-left: 4px solid transparent;
}

.rasengan-markdown-body pre[data-language] code[data-line-numbers] > span {
  padding: 0 5px;
}

.rasengan-markdown-body pre[data-language] mark[data-highlighted-chars] {
  background-color: var(
    --bg-code-highlight-2
  ); /* Highlight for specific lines */
  border-radius: 5px;
  padding: 0 5px;
}

.rasengan-markdown-body pre[data-language] span[data-highlighted-line] {
  background-color: var(--bg-code-highlight); /* Highlight for specific lines */
  border-left: 4px solid var(--fg-accent);
}

.rasengan-markdown-body code[data-line-numbers] span[data-line]:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 2ch;
  color: #6a737d;
  text-align: right;
  margin-right: 16px;
  opacity: 0.9;
}

.rasengan-markdown-body code.code-block {
  position: relative;
  display: block;
  padding: 20px 0;
  font-size: 14px;
  max-height: 800px;
  overflow: auto;
}

.rasengan-markdown-body pre[data-language] button,
.rasengan-markdown-body pre[data-language] span.lang {
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 0.2s;
  z-index: 10;
}

.rasengan-markdown-body pre[data-language] span.lang {
  font-size: 12px;
  opacity: 0.8;
  color: var(--fg-code);
  padding: 2px 5px;
  border-radius: 5px;
  background-color: var(--bg-code-highlight);
  border: 1px solid var(--border-dark);
}

.rasengan-markdown-body pre[data-language] code {
  font-family: 'JetBrains Mono', monospace;
}

.rasengan-markdown-body pre[data-language] button {
  opacity: 0.6;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid var(--border-dark);
  background-color: var(--bg-code-highlight);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rasengan-markdown-body pre[data-language]:hover > div button:hover {
  opacity: 1;
}

/* Tables */

.rasengan-markdown-body .ra-table-wrapper {
  overflow-x: auto;
}

.rasengan-markdown-body table {
  border-collapse: collapse;
  color: var(--fg);
  margin: 0.67em 0;
  width: 100%;
  min-width: 600px;
  overflow-x: auto;
}

.rasengan-markdown-body th {
  background-color: transparent;
  color: var(--fg);
  font-weight: 700;
}

.rasengan-markdown-body th,
.rasengan-markdown-body td {
  padding: 10px 20px;
  border: 1px solid var(--border);
  transition: all 0.3s;
  cursor: pointer;
}

.rasengan-markdown-body tr:nth-child(even) {
  background-color: var(--bg-light);
}

.rasengan-markdown-body tr:nth-child(odd) {
  background-color: transparent;
}

.rasengan-markdown-body tr:hover {
  background-color: var(--bg-light);
}

/* Lists */

.rasengan-markdown-body ul,
.rasengan-markdown-body ol {
  margin: 0.67em 0;
  color: var(--fg);
  padding-left: 15px;
}

.rasengan-markdown-body ul {
  list-style: disc;
}

.rasengan-markdown-body ul:has(li > input) {
  list-style: none;
}

.rasengan-markdown-body ul li,
.rasengan-markdown-body ol li {
  margin: 0.67em 0;
  color: var(--fg);
}

.rasengan-markdown-body ul li input,
.rasengan-markdown-body ol li input {
  margin-right: 0.3em;
}

.rasengan-markdown-body ul li input,
.rasengan-markdown-body ol li input:checked {
  background-color: var(--fg-accent);
  color: var(--bg);
}

/* Blockquotes */

.rasengan-markdown-body blockquote {
  border-left: 4px solid var(--border);
  padding-left: 1em;
  margin: 1em 0;
}
.rasengan-markdown-body blockquote p {
  margin: 0;
}

/* Media queries */

@media (min-width: 1280px) {
  /* xl */
  .rasengan-wrapper-with-toc {
    max-width: 80rem; /* 5xl */
    grid-template-columns: minmax(0, 1fr) var(--container-2xs);
  }

  .rasengan-markdown-body {
    padding-right: 0; /* xl:pr-0 */
    max-width: 50rem;
    margin: 0 auto;
  }
}

@media (max-width: 1279px) {
  /* max-xl */
  .rasengan-wrapper-with-toc > .rasengan-toc {
    display: none;
  }

  .rasengan-wrapper-with-toc {
    display: block;
    max-width: 60rem;
    padding-left: 0;
  }
}

@media (min-width: 640px) {
  /* sm */
  .rasengan-markdown-body {
    padding-left: 1.5rem; /* sm:px-6 (24px) */
    padding-right: 1.5rem; /* sm:px-6 (24px) */
  }
}
