/* Load fonts */
@font-face {
  font-family: 'Lexend-Bold';
  src: url('../assets/font/Lexend-Bold.ttf');
}
@font-face {
  font-family: 'Lexend-Medium';
  src: url('../assets/font/Lexend-Medium.ttf');
}
@font-face {
  font-family: 'Lexend-Regular';
  src: url('../assets/font/Lexend-Regular.ttf');
}
@font-face {
  font-family: 'Lexend-Light';
  src: url('../assets/font/Lexend-Light.ttf');
}
@font-face {
  font-family: 'GeistMono-Regular';
  src: url('../assets/font/GeistMono-Regular.ttf');
}
@font-face {
  font-family: 'GeistMono-Light';
  src: url('../assets/font/GeistMono-Light.ttf');
}

@import 'tailwindcss';

@theme {
  --color-background: #fff;
  --color-foreground: #0f172a;
  --color-primary: #2b63f5;
  --color-primary-foreground: #fff;
  --color-border: #e1e1e1;
  --color-neutral: #858585;

  /* Fonts */
  --font-lexend-bold: 'Lexend-Bold', sans-serif;
  --font-lexend-medium: 'Lexend-Medium', sans-serif;
  --font-lexend-regular: 'Lexend-Regular', sans-serif;
  --font-lexend-light: 'Lexend-Light', sans-serif;
  --font-mono-regular: 'GeistMono-Regular', sans-serif;
  --font-mono-light: 'GeistMono-Light', sans-serif;

  /* Size */
  --main-width: calc(100% - 280px);
}

:root {
  --color-background: #fff;
  --color-foreground: #0f172a;
  --color-primary: #2b63f5;
  --color-primary-foreground: #fff;
  --color-border: #e1e2e4;
  --color-neutral: #858585;

  .dark {
    --color-primary: #2b63f5;
    --color-primary-foreground: #fff;
    --color-background: #040712;
    --color-foreground: #d1d5dc;
    --color-border: #1e202a;
    --color-neutral: #9aa1af;
  }
}

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

/* Custom styles for markdown */
.rasengan-wrapper {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.rasengan-markdown-body {
  width: 100%;
}

.rasengan-markdown-body p {
  font-size: 16px;
}

.rasengan-markdown-body strong {
  font-family: 'Lexend-Medium';
}

.rasengan-markdown-body h1,
.rasengan-markdown-body h2,
.rasengan-markdown-body h3,
.rasengan-markdown-body h4,
.rasengan-markdown-body h5 {
  color: var(--color-foreground);
}

.rasengan-toc h2.title {
  font-family: 'GeistMono-Regular';
}

.rasengan-markdown-body code.code-block {
  background-color: #1c202a;
  border-radius: 12px;
  border: 1px solid #353740;
}

.rasengan-markdown-body figure:has(pre[data-language]) {
  padding: 4px;
  border-radius: 16px;
  border: 1px solid #353740;
  background-color: #10141e;
}

.rasengan-markdown-body figure pre {
  background-color: transparent !important;
}

.rasengan-markdown-body figure:has(pre[data-language]) figcaption {
  background-color: #10141e;
  border: none;
}

.rasengan-markdown-body figure:has(pre[data-language]) figcaption {
  font-size: 12px;
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.rasengan-markdown-body pre[data-language] span[data-highlighted-line] {
  background-color: rgba(43, 99, 245, 0.1); /* 50% opacity */
}

.rasengan-markdown-body pre[data-language] mark[data-highlighted-chars] {
  background-color: rgba(43, 99, 245, 0.2);
  border: 1px solid rgba(43, 99, 245, 0.3);
}

@media (min-width: 1280px) {
  .rasengan-markdown-body {
    max-width: 80rem;
  }
}
