/* Load Urbanist and Comfortaa font */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(20.57% 0.0705 259.3);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.6185 0.2069 259.11);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(89.58% 0.0055 259.7);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --code-highlight-bg: oklch(0.2002 0 0);
  --code-block-bg: oklch(0.9791 0 0);
  --code-block-highlight-bg: oklch(0.9612 0 0);
  --code-block-highlight-border: oklch(0.7668 0 0);
}

.dark {
  --background: oklch(6.253% 0.0101 278.3);
  --foreground: oklch(83.18% 0.0356 264.9);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.6185 0.2069 259.11);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.23 0.0202 275.67);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --code-block-bg: oklch(0.2002 0 0);
  --code-block-highlight-bg: oklch(0.2686 0 0);
  --code-block-highlight-border: oklch(0.4997 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-code-block-bg: var(--code-block-bg);
  --color-code-block-highlight-bg: var(--code-block-highlight-bg);
  --color-code-block-highlight-border: var(--code-block-highlight-border);

  /* Fonts */
  --font-sans: Geist, sans-serif;
  --font-raleway: Raleway, sans-serif;

  /* Size */
  --main-width: calc(100% - 280px);
  --mobile-main-height: calc(100vh - 110px);
  --hero-height: calc(100vh - 60px);
  --mobile-main-height: calc(100vh - 110px);
  --sidebar-height: calc(100vh - 120px);

  /* Measurement Documentation */
  --main-height: calc(100vh - 50px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body,
html {
  width: 100%;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -webkit-appearance: none;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

.dark code[data-theme*=' '],
.dark code[data-theme*=' '] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

.grid-section {
  position: relative;
  overflow: hidden;
  background: none; /* We'll move the image to the pseudo-element */
}

.grid-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('@/assets/images/icons/grid.svg') repeat center center;
  background-size: cover;
  opacity: 0.7; /* Adjust opacity here */
  pointer-events: none; /* Let clicks pass through */
  z-index: 0;
}

.dark .grid-section::before {
  opacity: 0.2;
}

.grid-section > * {
  position: relative;
  z-index: 1; /* Ensure content stays above background */
}

.showcase-container {
  display: grid;
  grid-template-areas:
    'a a a b b b c c c'
    'a a a b b b c c c'
    'd d d d d d e e e'
    'd d d d d d e e e'
    'd d d d d d f f f'
    'd d d d d d f f f';
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1.5rem;
}

.showcase-container > .a {
  grid-area: a;
}

.showcase-container > .b {
  grid-area: b;
}

.showcase-container > .c {
  grid-area: c;
}

.showcase-container > .d {
  grid-area: d;
}

.showcase-container > .e {
  grid-area: e;
}

.showcase-container > .f {
  grid-area: f;
}

@media (max-width: 1024px) {
  .showcase-container {
    grid-template-areas:
      'a a a a b b b b'
      'a a a a b b b b'
      'c c c c c c c c'
      'd d d d d d d d'
      'e e e e f f f f'
      'e e e e f f f f';
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, auto);
  }
}

/* Mobile view (max-width: 640px) */
@media (max-width: 640px) {
  .showcase-container {
    grid-template-areas:
      'a'
      'a'
      'b'
      'b'
      'c'
      'c'
      'd'
      'd'
      'e'
      'e'
      'f'
      'f';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, auto);
  }
}
