.docs {
  /* Custom styles for markdown */
  .rasengan-wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .rasengan-markdown-body {
    width: 100%;

    & p {
      font-size: 16px;
    }

    & .pagination > a {
      text-decoration: none;
      color: var(--color-foreground);
    }

    & strong {
      font-family: 'Lexend-Medium';
      font-weight: 400;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      color: var(--color-foreground);
      font-weight: 400;
    }

    & code.code-block {
      background-color: #1c202a;
      border-radius: 12px;
      border: 1px solid #353740;
    }

    & figure:has(pre[data-language]) {
      padding: 4px;
      border-radius: 16px;
      border: 1px solid #353740;
      background-color: #10141e;

      & figcaption {
        font-size: 12px;
        height: 30px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 10px;
        display: flex;
        align-items: center;
        background-color: #10141e;
        border: none;
      }
    }

    & figure pre {
      background-color: transparent !important;
    }

    & pre[data-language] {
      & span[data-highlighted-line] {
        background-color: rgba(43, 99, 245, 0.1); /* 50% opacity */
      }

      & mark[data-highlighted-chars] {
        background-color: rgba(43, 99, 245, 0.2);
        border: 1px solid rgba(43, 99, 245, 0.3);
      }
    }
  }

  .rasengan-toc h2.title {
    font-family: 'GeistMono-Regular';
  }

  @media (min-width: 1280px) {
    .rasengan-markdown-body {
      max-width: 60rem;
    }
  }

  @media screen and (max-width: 768px) {
    .rasengan-wrapper {
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }
}

.editor {
  /* Custom styles for markdown */
  .rasengan-wrapper {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .rasengan-markdown-body {
    width: 100%;
    // height: 100%;
    padding: 0;

    // & pre,
    // & figure,
    // & div {
    //   height: 100%;
    // }

    & code.code-block {
      // height: 100%;
      background-color: #1c202a;
      border-color: transparent;
    }

    & figure:has(pre[data-language]) {
      // padding: 4px;
      // border-radius: 16px;
      // border: 1px solid #353740;
      border-color: #1c202a;
      background-color: #10141e;
      margin: 0;
    }

    & figure pre {
      background-color: transparent !important;

      & .copy-button,
      & .lang {
        display: none;
      }
    }
  }

  @media (min-width: 1280px) {
    .rasengan-markdown-body {
      max-width: 60rem;
    }
  }

  @media screen and (max-width: 768px) {
    .rasengan-wrapper {
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }
}
